/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family), serif;
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  block-size: 100vh;
  position: relative;
  padding: 0.55rem;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 1.38rem;
  height: 1.38rem;
  left: 3%;
  bottom: 1.6%;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--menu-text);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 1.38rem;
  height: 1.38rem;
  top: 1.6%;
  right: 2.5%;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--menu-text);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  padding-block-start: 2%;
  inline-size: 20%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.63rem;
}

.header__theme-menu-item {
  color: var(--menu-text);
  line-height: 1.27rem;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: inherit;
  border: inherit;
  padding-inline: 0.72rem;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-text);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--menu-text);
}

.rec {
  display: flex;
  position: absolute;
  text-transform: uppercase;
  font-size: inherit;
  font-family: inherit;
  color: var(--accent-color);
  top: 1.9%;
  right: 5.5%;
  align-items: center;
  gap: 0.55rem;
}

.rec::before {
  content: "rec";
}

.rec::after {
  content: "";
  background-color: var(--accent-color);
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
}

.header__title {
  justify-self: baseline;
  align-self: flex-end;
  text-transform: lowercase;
  font-weight: var(--font-weight-bold);
  color: var(--header-text-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 6rem;
  margin-block-end: 0.61rem;
}

.header__description {
  justify-self: end;
  align-self: center;
  font-weight: bold;
  margin-block-end: 0.72rem;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--header-description-color);
  line-height: 1.4rem;
  padding: 1px;
}

.main {
  display: grid;
  gap: 1.9rem;
  margin-block-start: 8%;
  padding: 2.5%;
}

.content {
  display: grid;
}

.main__title {
  margin-block-end: 6%;
  color: var(--menu-text);
  max-width: 97%;
}

.main__subtitle {
  margin-block-end: 0.8rem;
}

.main__content {
  font-weight: var(--font-weight-normal);
  color: var(--main-text-color);
  margin-block-end: 1.11rem;
  margin-block-start: 0.55rem;
}

p.main__content {
  width: 99%;
  line-height: 129%;
}

.list__title {
  font-weight: var(--font-weight-normal);
  margin-block-start: 1.11rem;
  margin-block-end: 0.9rem;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.gallery {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 0.55rem;
}

.images {
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  inline-size: 100%;
}

.footer {
  position: relative;
  block-size: 100vh;
  display: grid;
  margin-block-start: 2.11rem;
}

.footer__title {
  justify-self: center;
  align-self: center;
}

@media (width >= 768px) {
  .header {
    padding: 0.5%;
  }

  .header__theme-menu {
    padding-block-start: 16.5%;
    padding-inline-start: 6%;
  }

  .header__theme-menu-list {
    gap: 0.8rem;
  }

  .header__description {
    inline-size: 48%;
    margin-block-end: 18%;
    margin-inline-end: 2%;
  }

  .header__title {
    align-self: center;
    margin-block-end: 0;
  }

  .content__2-columns {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: "header second-column";
    gap: 5.5%;
    margin-block-end: 2rem;
  }

  .content__3-columns {
    margin-block-end: 4.5%;
  }

  .main__subtitle {
    grid-area: header;
  }

  .second-column {
    grid-area: second-column;
  }

  .main {
    margin-block-start: 5%;
  }

  .main__title {
    width: 13.11rem;
    margin-block-end: 3%;
  }

  p.main__content {
    width: 100%;
  }

  .gallery__content {
    margin-block-start: 0;
  }

  .gallery {
    gap: 1.11rem;
    grid-template-columns: repeat(3, 1fr);
    margin-block-start: 4%;
  }

  .images:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .images:nth-child(2) {
    grid-row: span 2;
  }

  .images:nth-child(3) {
    grid-row: span 2;
  }

  .images:nth-child(5) {
    grid-column: 2 / span 2;
  }

  .decorated-zone::before {
    left: 3%;
    bottom: 2%;
  }

  .decorated-zone::after {
    top: 2%;
    right: 2.5%;
  }

  .rec {
    top: 1.9%;
    right: 4%;
  }

  .footer {
    margin-block-start: 0;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 0;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    padding-block-start: 2%;
    padding-inline-start: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__description {
    inline-size: 49%;
    block-size: 28%;
    margin-block-end: 8%;
    margin-inline-end: 0.3%;
  }

  .page {
    inline-size: 100%;
  }

  .rec {
    top: 2.9%;
    right: 1.5%;
  }

  .decorated-zone::before {
    left: 2%;
    bottom: 2.9%;
  }

  .decorated-zone::after {
    top: 2.9%;
    right: 0.5%;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    margin-block-start: 4.5%;
    padding: 1.5%;
    padding-inline-end: 0;
  }

  .content__2-columns {
    grid-template-columns: 31% auto;
    gap: 3.9%;
    margin-block-end: 2.2rem;
  }

  .content__3-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1.11rem;
    margin-block-end: 3.4%;
  }

  .main__title {
    width: 18.5rem;
    margin-block-end: 1.11rem;
  }

  .gallery {
    margin-block-start: 2%;
  }
}
